*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: linear-gradient(180deg, #4b75e8, #54c0ff);
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.label {
  position: absolute;
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s;
}

.hover {
      opacity: 1;
}